{% extends 'base.html.twig' %}

{% block title %} PruebaAjax {% endblock %}

{% block body %}
<main>
<!--Tabla_de_consulta_de_categorias-->
<div class="card">
  <div class="card-body card-secondary bg-secondary">
    <center><label>Producto</label></center>
  </div>
</div>
<div style="box-sinzing:border-box; padding:20px">
<button type="button" id="CargarDatos" class="btn btn-primary">Cargar_Datos_De_Tabla_Con_ajax_de_Producto</button>
</button>
<div style="width:70%;position:relative;left:14%;top:24%">
<table id="TablaAjax" class="table table-dark" style="margin-top:3%">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col">Marca</th>
      <th scope="col">Precio</th>
      <th scope="col">Creado</th>
      <th scope="col">Actualizado</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
      <th scope="col">ID</th>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col">Marca</th>
      <th scope="col">Precio</th>
      <th scope="col">Creado</th>
      <th scope="col">Actualizado</th>
     </tfoot>
</table>
</div>
<div ></div>
</div>
</main>
{% endblock %}
